html,body{
	width:100%; height:100%;font-family: "Microsoft JhengHei", "Apple LiGothic Medium", "PMingLiU", "sans-serif", "serif";
	// overflow: hidden;
}

*, *:after, *:before {@include box-sizing(border-box);}
img {width:100%;max-width: 100%;line-height: 0;}



a{
	color:#444;text-decoration: none;
	&:hover{color:#52b0d5;}
}


.container{position: relative;}

#header{
	position: relative;z-index: 999;
	padding:0px 10px;
	line-height:rhythm(3);
	color:#fff;background:#222;
	a{color:#fff;}
	h1{display: inline-block;}
	nav{
		float:right;
		ul li{
			margin:0px 10px;display: inline-block;
		}
	}
}
.subwrapper{
	position: absolute;bottom: -100%;
	width:100%;height:100%;background: #fff;
	#main{overflow: auto;}
}
