@import "./assets/varable";
@import './assets/theme';

@mixin button($theme-config) {
  $config: get-color-config($theme-config ,theme);
  $primary: color($config, primary);
  $accent: color($config, accent);
  $warn: color($config, warn);
  $theme: color($config, theme);

  .btn {
    padding: $unit $unit * 2;
    text-decoration: none;
    background: transparent;
    border: 2px solid color($primary);
    color: color($primary);
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 5px;
    transition: background 0.3s ease;
    box-shadow: 2px 2px 0 color($primary);
  
    &:hover {
      top: 2px;
      left: 2px;
      box-shadow: 2px 2px 0 transparent;
    }
  }
  
}
