@import "./assets/varable";
@import './assets/theme';

@mixin header($theme-config) {
  $config: get-color-config($theme-config ,theme);
  $primary: color($config, primary);
  $accent: color($config, accent);
  $warn: color($config, warn);
  $theme: color($config, theme);

  header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: darken(color($theme, background), 5%);
    padding: $unit $unit*2;
    border-bottom: 4px solid color($primary);
    // box-shadow: 0 5px 40px rgba(color($secondary, 900), 0.5);

    h1 {
      float: left;
      font: {
        family: $base-font-title;
        size: 22px;
        weight: 600;
      }
      a {
        color: color($primary);
        > span {
          display: inline-block;
          color: color($theme, text);
          font-weight: 300;
        }
      }
    }

    .social {
      float: right;
      ul > li {
        display: inline-block;
      }
      .btn {
        font-family: 'Dosis';
        font-size: 14px;
        margin: 10px 5px;
      }
    }
  }
  footer {
    margin-top: $unit;
    padding: $unit;
    text-align: right;
    line-height: 2.5;
    font-size: 12px;
    background: darken(color($theme, background), 5%);
  }
}