@import './assets/theme';
@import './assets/varable';
@import './layout';
@import './header';
@import './button';
@import './switch';

$light-theme: light-theme($primary-palette, $secondary-palette);
$dark-theme: dark-theme($primary-palette, $secondary-palette);

@mixin layout($theme-config, $density: null) {
  $config: get-color-config($theme-config, $density);
  $primary: color($config, primary);
  $secondary: color($config, accent);
  $warn: color($config, warn);
  $theme: color($config, theme);

  html,
  body {
    position: relative;
    -webkit-text-size-adjust: 100%;
    font-family: 'Noto Sans TC', 'Arial', '\5FAE\8EDF\6B63\9ED1\9AD4', '\65B0\7D30\660E\9AD4', 'sans-serif';
    color: color($theme, text);
    background-color: color($theme, background);
    font-size: 16px;
    * {
      box-sizing: border-box;
    }
  }

  main {
    position: relative;
    max-width: 960px;
    margin: 120px auto;
    padding: 0 40px;
  }

  @include header($theme-config);
  @include button($theme-config);
  @include switch($theme-config);
}

table {
  margin: 20px 0 10px 0;
  width: 100%;
  border-collapse: collapse;
}
table caption {
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
}
table th {
  background: #efefef;
}
table th,
table td {
  padding: 13px 5px;
  text-align: center;
  border: 1px solid #dddddd;
}

@include pad {
  table {
    th {
      display: none;
    }
    td {
      display: block;
      text-align: left;
      padding: 0px;
      &:before {
        content: attr(data-th) '';
        display: inline-block;
        background: #eee;
        padding: 10px 20px;
        margin-right: 20px;
      }
    }
  }
}

@include layout($light-theme);
.is-dark {
  @include layout($dark-theme, 'is-dark');
}